.input-bar {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.input-bar input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.input-bar button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #fef01b; /* 노란색 */
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
