/* 공통 스타일 */
.login-login-container {
  width: 460px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-profile-container {
  background-color: #ffc96f;
  padding: 20px;
  width: 420px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.login-avatar {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: #f9e3c0;
  border-radius: 50%;
}

.login-profile-info {
  margin-left: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.login-profile-info h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.login-profile-info p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}

/* 폼 스타일 */
.login-login-form {
  display: flex;
  flex-direction: column;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.login-form-group input {
  width: 100%;
  max-width: 420px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.login-login-button {
  background-color: #ffc96f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-login-button:hover {
  background-color: #f3b556;
}
