.Editor .date_section {
  display: flex;
  margin-top: 20px;
}

.Editor .date_section > input {
  display: flex;
  margin-left: 50px;
  background-color: white;
}

.Editor > section {
  margin-bottom: 30px;
}

.Editor > section > h4 {
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}

.Editor > section > input,
textarea {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
}

.Editor > section > textarea {
  padding: 20px;
  width: 100%;
  min-height: 50px;
  resize: vertical;
  box-sizing: border-box;
}

.Editor .emotion_section .emotion_list_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}

.Editor .event_content_section .event_list_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2%;
  margin-bottom: 10px;
}

.Editor .feeling_content_section .feeling_list_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2%;
  margin-bottom: 10px;
}

.Editor .button_section {
  display: flex;
  justify-content: space-between;
}
