.EventItem {
  background-color: #f2f2f2; /* 해시태그 버튼의 배경색 */
  border: 1px solid #ddd; /* 얇은 테두리 */
  border-radius: 20px; /* 둥근 모서리 */
  font-size: 14px; /* 텍스트 크기 */
  font-weight: 500; /* 텍스트 두께 */
  color: #333; /* 텍스트 색상 */
  padding: 8px 15px; /* 내부 여백 (작고 컴팩트) */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  cursor: pointer; /* 마우스 포인터 */
  transition: background-color 0.3s, transform 0.2s, border-color 0.3s; /* 애니메이션 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */

  cursor: pointer;
  text-align: center;
}

.EventItem_on_1 {
  background-color: #ffc96f;
}
.EventItem_on_2 {
  background-color: #ffc96f;
}
.EventItem_on_3 {
  background-color: #ffc96f;
}
.EventItem_on_4 {
  background-color: #ffc96f;
}
.EventItem_on_5 {
  background-color: #ffc96f;
}
