.challenge-card {
  background-color: #f9e3c0;
  padding: 30px;
  border-radius: 10px;
  margin: 10px 0;
  font-family: "Pretendard", sans-serif;
  /* margin-bottom: 20px; 아래쪽 간격 */
  margin-top: 20px; /* 위쪽 간격 */
}

.challenge-card_NewChallenge {
  background-color: #ffc96f;
  padding: 30px;
  border-radius: 10px;
  margin: 10px 0;

  font-weight: bold;
  font-family: "Pretendard", sans-serif;
  /* margin-bottom: 20px; 아래쪽 간격 */
  margin-top: 20px; /* 위쪽 간격 */
}

.challenge-title {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

.challenge-text {
  color: #333;
}
